


<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>User List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<div *ngFor="let friend of friendList" class="row chat-all">
	<div class="col-12" *ngIf="friend.isAccepted === true">
		 <span class="chat-user" (click)="openChat(friend.sender,friend.recipient,friend.chatId)">{{friend.sender}}</span>
  </div>&nbsp;
	  <div *ngIf="friend.isAccepted === false"  class="row ">
	  	<div class="col-sm-9">
	     	<span class="chat-user">{{friend.sender}}</span>
	  	</div>
			 	<div class="col col-6"><button class="button-backcolor" ion-button  type="submit"  (click)="acceptRequestByTrader(friend.chatId)" >Accept</button>
			 	</div>
			 	<div  class="col col-6">
			 	 <button class="button-backcolor"  ion-button  type="submit" (click)="rejectRequestByTrader(friend.chatId)"  >Reject</button></div>
	
	</div>
</div>
</ion-content>
